
body {
    margin: 0;
    font-family: sans-serif;
}

a {
    font-weight: bold;
    text-decoration: none;
}

h1 {
    font-family: 'Special Elite',sans-serif;
    font-size: 400%;
    font-weight: normal;
    padding: 8px;
}

.footer {
    padding: 16px;
}

#holder {
    background: url("preview_bak1.png");
    background-clip: padding-box;
    border: 4px dashed #ccc;
    border-radius: 4px;
    margin-bottom: 16px;
    min-height: 240px;
    text-align: center;
    vertical-align: middle;
    display: grid;
    overflow: auto;
}
#holder.hover {
    border: 4px dashed #333;
}

#drophint {
    font-family: 'Special Elite',sans-serif;
    padding-top: 84px;
    width: 100%;
    font-size: 300%;
    color: #888;
    text-align: center;
    grid-row: 1;
    grid-column: 1;
}

#previewCanvas {
    width: 100%;
    height: 100%;
    grid-row: 1;
    grid-column: 1;
    image-rendering: pixelated;
    transform-origin: left top;
}

.centered {
    margin: auto;
    text-align: center;
}

.hidden {
    display: none;
}

.settingscontainer {
    margin: 16px;
    padding: 8px;
    border: 1px solid #888;
    border-radius: 8px;
}

.topcontainer {
    margin: 16px;
    padding: 8px;
}

.status {
    font-weight: bold;
    border: 1px solid #888;
    border-radius: 8px;
    margin: 16px;
    padding: 16px;
}

.previewcontainer {
    padding: 8px;
}

.buttonLink {
    border: 1px solid #888;
    border-radius: 8px;
    padding: 8px;
}

.buttonLink a {
    font-weight: normal;
    color: #000;
}

.previewImage {
    max-width: 400px;
    max-height: 300px;
    vertical-align: middle;
}
